@import "tailwindcss";

:root {
    --background: #000000;
    --tcl1: #ffffff;
    --tcl2: #acacac;
    --tcl3: #333;
}

@theme inline {
  --color-background: var(--background);
  --color-text: var(--tcl1);
  --color-text2: var(--tcl2);
  --color-text3: var(--tcl3);
  --font-main: var(--font-inter);
  --font-secondary: var(--font-stack)
}

@layer theme{
    [data-theme="dark"] {
        --background: black;
        --tcl1: white;
        --tcl2: #acacac;
        --tcl3: #333;
    }

    [data-theme="light"] {
        --background: white;
        --tcl1: black;
        --tcl2: #5f5f5f;
        --tcl3: #b4b4b4;
    }

    [data-theme="matcha"] {
        --background: #778873;
        --tcl1: #a1bc98;
        --tcl2: #758a6e;
        --tcl3: #51614c;
    }

    [data-theme="blue summer"]{
        --background: #8ca9ff;
        --tcl1: #fff2c6;
        --tcl2: #c0b694;
        --tcl3: #857d64;
    }
}


body {
  background: var(--background);
  color: var(--tcl1);
  font-family: var(--font-inter);
}
