@import "tailwindcss";

:root {
    --background: black;
    --tcl1: white;
    --tcl2: #acacac;
    --tcl3: #333;
    --ic: #aea7ff;
    --lc: #aff2ff;
    --rc: #eff7ad;
    --nxt-clr: black;
    --nxt-bg: white;
    --ht: #E4ACB2;
    --abtt: #EABCA8;
    --at: #FAEDCD;
    --bt: #CCD5AE;
    --pt: #99BAB9;
}

.disabled {
    pointer-events: none;
}

@theme inline {
  --color-background: var(--background);
  --next-background: var(--nxt-bg);
  --color-text: var(--tcl1);
  --color-text2: var(--tcl2);
  --color-text3: var(--tcl3);
  --next-color: var(--nxt-clr);
  --interest-color: var(--ic)
  --linkedin-color: var(--lc)
  --resume-color: var(--rc)
  --font-main: var(--font-inter);
  --font-secondary: var(--font-stack);
  --font-tertiary: var(--font-figtree);
  --home-tab: var(--ht);
  --about-tab: var(--abtt);
  --art-tab: var(--at);
  --blog-tab: var(--bt);
  --projects-tab: var(--pt);
}

[data-theme="dark"] {
    --background: black;
    --nxt-bg: white;
    --tcl1: white;
    --tcl2: #acacac;
    --tcl3: #333;
    --ic: #aea7ff;
    --lc: #aff2ff;
    --rc: #eff7ad;
    --nxt-clr: black;
    --ht: #E4ACB2;
    --abtt: #EABCA8;
    --at: #FAEDCD;
    --bt: #CCD5AE;
    --pt: #99BAB9;
}

[data-theme="light"] {
    --background: white;
    --nxt-bg: #b6ae9f;
    --tcl1: black;
    --tcl2: #5f5f5f;
    --tcl3: #b4b4b4;
    --ic: #aea7ff;
    --lc: #002fff;
    --rc: #e99700;
    --nxt-clr: #fbf3d1;
}

[data-theme="pastel"] {
    --background: #b6ae9f;
    --nxt-bg: #778873;
    --tcl1: #fbf3d1;
    --tcl2: #deded1;
    --tcl3: #c5c7bc;
    --ic: #504d79;
    --lc: #aff2ff;
    --rc: #eff7ad;
    --nxt-clr: #f1f3e0;
}

[data-theme="matcha"] {
    --background: #778873;
    --nxt-bg: #31326f;
    --tcl1: #f1f3e0;
    --tcl2: #d2dcb6;
    --tcl3: #a1bc98;
    --ic: #02c6ed;
    --lc: #aff2ff;
    --rc: #eff7ad;
    --nxt-clr: #a8fbd3;
}

[data-theme="blue summer"]{
    --background: #31326f;
    --nxt-bg: black;
    --tcl1: #a8fbd3;
    --tcl2: #4fb7b3;
    --tcl3: #637ab9;
    --ic: #aea7ff;
    --lc: #aff2ff;
    --rc: #eff7ad;
    --nxt-clr: white;
}



body {
  background: var(--background);
  color: var(--tcl1);
  font-family: var(--font-inter);
}
