@import "tailwindcss";

:root {
    --background: black;
    --tcl1: white;
    --tcl2: #acacac;
    --tcl3: #333;
    --nxt-clr: black;
    --nxt-bg: white;
}

@theme inline {
  --color-background: var(--background);
  --next-background: var(--nxt-bg);
  --color-text: var(--tcl1);
  --color-text2: var(--tcl2);
  --color-text3: var(--tcl3);
  --next-color: var(--nxt-clr);
  --font-main: var(--font-inter);
  --font-secondary: var(--font-stack)
}

[data-theme="dark"] {
    --background: black;
    --nxt-bg: white;
    --tcl1: white;
    --tcl2: #acacac;
    --tcl3: #333;
    --nxt-clr: black;
}

[data-theme="light"] {
    --background: white;
    --nxt-bg: #778873;
    --tcl1: black;
    --tcl2: #5f5f5f;
    --tcl3: #b4b4b4;
    --nxt-clr: #a1bc98;
}

[data-theme="matcha"] {
    --background: #778873;
    --nxt-bg: #31326f;
    --tcl1: #a1bc98;
    --tcl2: #d2dcb6;
    --tcl3: #f1f3e0;
    --nxt-clr: #637ab9;
}

[data-theme="blue summer"]{
    --background: #31326f;
    --nxt-bg: black;
    --tcl1: #637ab9;
    --tcl2: #4fb7b3;
    --tcl3: #a8fbd3;
    --nxt-clr: white;
}



body {
  background: var(--background);
  color: var(--tcl1);
  font-family: var(--font-inter);
}
